footer{
    margin-bottom: 0%;
    text-align: $centro;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
            p{
            font-size: small;
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
            font-size: 25px;
            margin-left: 5px;
            margin-right: 5px;
        }
}